name: my-demo
on:
  push:
    branches:
      -main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1

     - name: run simple command
       run: ls -a
