name: my-demo
on:
  push:
    branches:
      -main
  workflow_dispatch:
jobs:
  build:
    runs-on: hello

    steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1

     - name: present directory
       run: pwd
